*{
    padding: 0;
    margin: 0;
}

   .main{
    background-image:url("img/bgimg.jpg"); 
    
    height: 100vh;
    position: relative;
    background-position: center top;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    width: 100vw;
}
/* .main .box{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 0;
    
} */
.main .box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    
    background: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0.9) 0%,  
        rgba(0, 0, 0, 0.7) 25%, 
        rgba(0, 0, 0, 0.6) 50%,  
        rgba(0, 0, 0, 0.7) 75%,  
        rgba(0, 0, 0, 0.9) 100%  
    );
    
    color: white;

}
nav {
   padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 100%;
    column-gap: 464px;
}
nav img{
    position: relative;
    z-index: 10;
    height: 40px;
    opacity: 100%;
}
.top{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin-top: 97px;

}
.but1{
    margin-top: 20px;
    color: white;
    width: 120px;
    
    background-color:transparent;
    padding: 7px 10px;
    border-radius: 5px;
    border: 3px solid rgb(123, 123, 123);
    outline: 2px solid rgb(255, 255, 255);
    font-size: 1.09rem;
    font-weight: 500;
    text-align: center;

}
option{
    color: black;
    
}
.f1{
    width: 550px;
    line-height: 70px;
    font-size: 3.4em;
    font-weight: 800;
    text-align: center;
}
.f2{
    margin: 19px;
    font-size: 1.3em;
    font-weight: 520;
}
.f3{
    margin: 19px;
    font-size: 1.03em;
    font-weight: 540;

}

.but2{
    color: white;
    background-color: red;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid red;
    font-size: 1.04rem;
    font-weight: 540;
    margin: 6px;
    &:hover{
        background-color: rgb(148, 0, 0);
    }

}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.email{
    height: 53px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid rgb(134, 132, 132);
    background-color: rgba(27, 27, 27, 0.3);
    color: white;
    margin-left: 10px;
    font-size: 1.05rem ;

}
.email::placeholder{
    color: rgb(181, 181, 181);
    font-size: 1.04rem;
    font-weight: 500;
    padding-left: 10px;
}
.getstarted{
    height: 55px;
    margin-left: 8px;
    width: 210px;
    border-radius: 4px;
    color: white;
    background-color: rgb(241, 0, 0);
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    &:hover{
        background-color: rgb(126, 0, 0);
    }
}
 



.movies{

    position: absolute;
    left: 10vw;
    padding: 20px;
    width: 80vw;
    display: flex;
    column-gap: 45px;
    overflow-x: auto;
   
    }
    
  
.movies::-webkit-scrollbar {
    display: none;
}
.movies {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.movies img{
    border-radius: 10px;
    transition: 0.4s;
    &:hover{
        transform: scale(1.06);
    }
}
.trending{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    left: 11vw;
    margin-top: 40px;


}
.trending-movies{
    position: relative;
    top: -19px;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-top: 3px solid rgb(163, 0, 25) ;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    align-items: center;
    border: solid .25rem transparent;

    
    
}
.reasonstxt{
    top: 350px;
    position:relative;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    left: 11vw;
}
.reasons{
display: flex;
justify-content: space-around;
width: 80vw;
left: 10vw;
position: relative;
top: 350px;

}
.box1{
    height: 38vh;
    width: 19vw;
    background: linear-gradient(to top left, rgba(0, 0, 29, 0.8), rgba(48, 48, 97, 0.608));

    position: relative;
    border-radius: 20px;
}
.rtop{
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
    padding-top: 30px;

}
.rbottom{
    padding: 20px;
    padding-top: 0px;
    color: rgb(163, 163, 163);
    font-weight: 500;

}